backports.functools-lru-cache
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
gunicorn==20.0.4
json5
jsonschema
pandas
python-jsonrpc-server
ujson
urllib3